html {
    background-image: url("/img/background.png");
    background-size: cover;
    font-family: "Google Sans Code", monospace;
    width: 100%;
    height: 100vh;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border: 0.5px solid rgba(255, 255, 255, 0.266);
    margin: 10px;
    border-radius: 30px;
}

.header-name {
    font-size: 20px;
    display: flex;
    padding-left: 30px;
}

.header-menu {
    display: flex;
    gap: 50px;
    padding-right: 30px; 
}

a[target="_parent"] {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgba(133, 121, 92, 0.8);
}

#container-intro {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.5fr;
    box-sizing: border-box;
    border-radius: 30px;
    height: 700px;
    background-color: rgba(34, 33, 33, 0.633);
    margin: 10px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}

.container-intro {
    color: rgba(133, 121, 92, 0.8);
    font-size: 35px;
    padding: 20px;
}

.container-intro > h1 {
    color: rgba(255, 255, 255, 0.726);
    font-family: "DM Serif Text", serif;
}

.container-intro-image {
    height: 650px;
    border-radius: 30px;
}

#container-about-me {
    border-radius: 30px;
    height: 700px;
    background-color: rgba(34, 33, 33, 0.633);
    margin: 10px;
    color: white;
    display: flex;
    padding: 30px;
}

.container-about-me {
    color: white;
}

#container-projects {
    border-radius: 30px;
    height: 700px;
    background-color: rgba(34, 33, 33, 0.633);
    margin: 10px;
}

#container-contact {
    border-radius: 30px;
    height: 700px;
    background-color: rgba(34, 33, 33, 0.633);
    color: white;
    margin: 10px;
}

.container-contact-header {
    padding: 20px;
    text-align: center;
    text-decoration: justify;
}

.container-contact-me {
    justify-items: center;
}

form input {
    padding: 12px 16px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 18px;
    line-height: 1.5;
    width: 15rem;
}

.footer {
    margin-top: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: black;
    border: 0.5px solid rgba(255, 255, 255, 0.266);
    position: absolute;
    left: 0;
    right: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (max-width: 1000px) {

    .container-intro {
        font-size: 20px;
    }

    .container-intro-image {
    height: 300px;
    border-radius: 30px;
    }

    .footer {
        font-size: 20px;
    }

}

@media (max-width: 700px) {
    
    .header-name {
    font-size: 12px;
    display: flex;
    padding-left: 30px;
    }

    .header-menu {
    font-size: 9px;
    display: flex;
    gap: 9px;
    padding-right: 30px; 
    }

    #container-intro {
        grid-template-rows: 1fr 0.5fr;
        grid-template-columns: 1fr;
    }

    .container-intro {
        order: 2;
    }

    .container-intro-image {
    height: 350px;
    border-radius: 30px;
    order: 1;
    }

    .footer {
        font-size: 12px;
    }

}